{% extends "base.html" %}

{% load static %}
{% load meta_tags %}
{% load bootstrap3 %}

{% block content %}

{% if title %}<h1>{{ title }}</h1>{% endif %}

<div class="container-fluid">

{% if object_list %}

	<div id="filters">
	{% for category in categories %}
		<p>
			<strong>{{ category }}</strong> : 
			{% for tag in category.tag_set.all %}
				<span class="tag" data-tag="{{ tag.slug }}">{{ tag }}</span>
			{% endfor %}
		</p>
	{% endfor %}
	</div>

	<div id="photo-gallery" class="row">
		
		{% for medium in object_list %}
		<div class="{% for tag in medium.tags.all %}{{ tag.slug }} {% endfor %}">
			<a href="{% url 'medium_detail' medium.pk %}">
				<img src='{{ medium.thumbnail.url }}'/>
			</a>
			<div class="tagbox">
			{% for tag in medium.tags.all %}
				<span class="tag">{{ tag }}</span>
			{% endfor %}
			</div>
		</div>
		{% endfor %}

		<p class="no-media" style="display: none">Aucun média ne correspond à ces mots clés.</p>
	
	</div>

{% else %}

	<p>Vous n'avez pas encore chargé de photos.</p>
	<p><a href="{% url 'upload_media' %}" class="btn btn-primary">{% bootstrap_icon "cloud-upload" %} Charger mes premières photos</a></p>

{% endif %}

</div>

<style>

#photo-gallery a { display: inline-block; }

#photo-gallery img {
	max-width: 100%;
	max-height: 250px;
	min-width: 120px;
	border-radius: 3px;
	box-shadow: 0px 0px 4rem -1rem #999;
	opacity: .9;
	background-color: black;
	position: relative;
}

#photo-gallery a:after {
	position: absolute;
	height: calc(100% - 20px); width: calc(100% - 20px);
	border-radius: 3px;
	top: 10px; left: 10px;
	background-color: black;
	opacity: .2;
	content: " ";
	transition: opacity .5s;
}

#photo-gallery a:hover:after { opacity: 0;}

#photo-gallery > div { padding: 10px; display: inline-block; max-width: 100%; position: relative; }

@media screen and (max-width: 767px) {
	#photo-gallery [class^="col"] { padding: 0; margin-bottom: 10px; }
}

.row { margin-right: -25px; margin-left: -25px; }

.tagbox {
	position: absolute;
	bottom: 1em;
	right: 1.2em;
}

#photo-gallery .tag {
	background-color: rgba(0,0,0,0.5);
	color: white;
}

#photo-gallery .no-media { padding: 10px; }

#filters { margin-top: 10px; }
#filters .tag:hover { color: #337AB7; cursor: pointer; }
#filters .tag.active { color: white; background-color: #337AB7; }

</style>


{% endblock%}



{% block scripts %}

<script>

$(function() {

	$('#filters .tag').click(function(){
		$(this).toggleClass('active')
		filterMedia()
	})

	function filterMedia() {
		$('#photo-gallery > div, #photo-gallery > p').hide()
		var filters = ''
		$('#filters .tag.active').each(function(){
			filters += '.' + $(this).data('tag')
		})
		var selector = $('#photo-gallery > div' + filters) 
		if (selector.length) selector.fadeIn(); 
		else $('#photo-gallery .no-media').fadeIn()
	}

})


</script>

{% endblock %}