{% extends "base.html" %}
{% load static %}
{% load meta_tags %}
{% load bootstrap3 %}

{% block content %}

{% if title %}<h1>{{ title }}</h1>{% endif %}

<div class="container-fluid">

{% if object_list %}

	<div class="photo-gallery row">
		
		{% for medium in object_list %}
		<div>
			<a href="{% url 'medium_detail' medium.pk %}">
				<img src='{{ medium.thumbnail.url }}'/>
			</a>
			<div class="tagbox">
			{% for tag in medium.tags.all %}
				<span class="tag">{{ tag }}</span>
			{% endfor %}
			</div>
		</div>
		{% endfor %}
		
	</div>

{% else %}

	<p>Vous n'avez pas encore chargé de photos.</p>
	<p><a href="{% url 'upload_media' %}" class="btn btn-primary">{% bootstrap_icon "cloud-upload" %} Charger mes premières photos</a></p>

{% endif %}

</div>

<style>

.photo-gallery img {
	max-width: 100%;
	max-height: 250px;
	border-radius: 3px;
	box-shadow: 0px 0px 4rem -1rem #999;
	transition: opacity .5s;
	opacity: .85;
	background-color: black;
}

.photo-gallery img:hover { opacity: 1;}

.photo-gallery > div { padding: 10px; display: inline-block; max-width: 100%; position: relative; }

@media screen and (max-width: 767px) {
	.photo-gallery [class^="col"] { padding: 0; margin-bottom: 10px; }
}

.row { margin-right: -25px; margin-left: -25px; }

.tagbox {
	position: absolute;
	bottom: 1em;
	right: 2em;
}

.tag {
	border: 1px solid #999; border-radius: 3px;
	padding: 0 .25em; margin: .25em 0;
	display: inline-block;
	background-color: rgba(0,0,0,0.5);
	color: white;
}

</style>


{% endblock%}

