{% extends "meta.html" %}
{% load static %}
{% load meta_tags %}
{% load bootstrap3 %}

{% block header %}

<nav class="navbar" style="border-radius:0;" role="navigation">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/">
				<span class="glyphicon glyphicon-chevron-right"></span>
				<strong>{% from_settings "SITE_NAME" %}</strong>
			</a>
		</div>


		{% if user.is_authenticated %}

		<div class="collapse navbar-collapse" id="navbar-collapse">
		<ul class="nav navbar-nav navbar-right">

			<li class="dropdown">
				<a href="/" role="button" aria-expanded="false">
					{% bootstrap_icon "home" %} Accueil
				</a>
			</li>

			<li class="dropdown">
				<a href="{% url 'my_media' %}" role="button" aria-expanded="false">
					{% bootstrap_icon "user" %} {{ user }}
				</a>
			</li>

			<li class="dropdown">
				<a href="{% url 'upload_media' %}" role="button" aria-expanded="false">
					{% bootstrap_icon "cloud-upload" %} Charger
				</a>
			</li>

			<li class="dropdown">
				<a href="{% url 'logout' %}" role="button" aria-expanded="false">
					{% bootstrap_icon "off" %} Déconnexion
				</a>
			</li>


{% comment %}
			<li id="notifications" class="dropdown tout-vu"> <!-- par défaut, on fait comme si pas de notifs -->
				<a id="notification-loader" href="#" class="dropdown-toggle"
				data-toggle="dropdown" role="button" aria-expanded="false">
					<span class="glyphicon glyphicon-bell" aria-hidden="true"></span>
					<span id="non-vues" class="icon-counter"><!-- JS Loaded--></span>
				</a>

				<ul id="loaded-notifications" class="dropdown-menu" role="menu">
					<!-- JS to load notifications and reload them on click-->
				</ul>


			</li>
{% endcomment %}

		</ul>
		</div><!-- end collapse -->
		{% endif %}

	</div>
</nav>

{% endblock header %}

{% block content %}

	<!-- Main content displayed here -->

{% endblock content %}

{% block footer %}

<div class="footer-wrapper">

<p>!!!</p>

</div>

{% endblock footer %}