{% extends "base.html" %}
{% load bootstrap3 %}
{% load meta_tags %}

{% block content %}


<form id="upload_files" class="col-sm-8 col-md-6 col-lg-4" style="margin:auto; float: none;" action="" method="post" enctype="multipart/form-data">
	<h1>Charger des photos</h1>
	<hr>
	{% csrf_token %}
	{% bootstrap_form form %}
	<a id="create_tag" href="{% url 'create_tag' %}">
			+ Ajouter de nouveau tags</a>
	<hr>

	{% buttons %}
		<button type="submit" class="btn btn-primary btn-block">
			{% bootstrap_icon "cloud-upload" %} Envoyer
		</button>
	{% endbuttons %}

	<div id="progress">
			<div class="progress">
				<div class="progress-bar progress-bar-primary progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
						<span class="sr-only">Chargement en cours...</span>
				</div>
			</div>
			<span>Le chargement des fichiers peut prendre un certain temps...</span>
	</div>

</form>

<script>
	
jQuery(function(){
	// move media loader to top of form
	var media_group = $('#id_media').closest('.form-group')
	media_group.insertBefore(media_group.prev())

	// alert when leaving page to create new tags
	$('#create_tag').click(function(){
		var confirmation = confirm("Il faut quitter la page pour ajouter des tags. Êtes-vous sûr(e) ?")
		if (confirmation == true) return true
		else return false
	})

	// highlight tags that were chosen
	$('#id_tags .checkbox input').each(function(){
		$(this).insertBefore($(this).closest('.checkbox'))
	})

		$('#upload_files').submit(function(){
			$('#progress').fadeIn()
			$('#progress span').delay(15000).fadeIn()
		})

})

</script>

<style>

#id_tags .checkbox {
	border: 1px solid #999; border-radius: 3px;
	padding: 0 .25em; margin: .25em 0;
	display: inline-block;
	transition: all .5s;
	}

#id_tags input:checked + .checkbox { color: white; background-color: #337AB7; }

#id_tags input { display: none; }
#id_tags .checkbox label { padding: 0; }

#progress, #progress span { display: none; }


</style>


{% endblock %}
